

 :root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #001f3f;
 }

 nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 }

 .wrapper {
     max-width: 500px;
     margin: auto;
     text-align: center;
     margin-top: 100px;
 }

 #start {
     font-size: 20px;
     color: black;
 }

 .bond {
    font-size: 20px;
    color: black;
 }

 .hide {
     display: none;
 }

 .show {
     display: block;
 }